#title {
    background-color: aqua;
    text-align: center;
    height: 13em;
    padding-top: 2em;
}

#songBar {
    height: 1em;
    background-color: #007BFF;
}

#lyricsBtn {
    height: 3em;
    text-align: center;
}

#songInput {
    background-color: aqua;
    height: 1em;
    width: 8em;
    font-size: 9em;
    font-family: 'Open Sans Condensed', sans-serif;
}

input {
    outline: none;
    text-align: center;
}

#albumDisplay {
    background-color: lightblue;
    border-radius: 1em;
    margin-top: 2em;
    height: 15em;
}

#bioDisplay {
    background-color: lightblue;
    border-radius: 1em;
    margin-top: 2em;
    height: 15em;
}

hr {
    background-color: violet;
}

.contentTitles {
    color: white;
}

#picDisplay {
    background-color: lightblue;
    margin-top: 2em;
    height: 15em;

}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}